.card{
    padding: 10px;
    line-height: 0.5;
}
.star{
    width: 20px;
}
.aboutSection{
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #979797;
    margin-bottom: 2px;
}
.bullet{
    padding: 3px;
}
.cardImg{
    width: 17%;
    border-radius: 10px;
}